@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f1f;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #1f1f1f;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ffc30e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
